* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Lato', sans-serif;
}
.wrapper{
    height: 100vh;
    background: #FF416C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display:flex;
    justify-content: center;
    align-items: center;
}

.content{
    width: 20%;
    min-width: 250px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,0.26);
    padding: 23px 30px;
}

.title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.logo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

.logo img{
    width: 100%;
    background-size: cover;
}

input[type='text'], input[type='password']{
    display:block;
    width: 100%;
    margin: 20px 0;
    padding:7px 0px 7px 1px;
    background: none;
    border: 1px solid rgba(0,0,0,0.16);
    border-radius: 5px;
    outline: none;
}

.boton{
    width: 100%;
    border: none;
    padding:10px 20px;
    background-color: #00B4DB;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

input[type="checkbox"]{
    margin-bottom: 10px;
}
